/* Typography */
html { font-size: 10px; }

h1 {
  font-size: 1.4em;
  line-height: 1.25;
  margin: 1em 0 .5em;
}

h2 {
  font-size: 1.2em;
  line-height: 1.15384615;
  margin: 0.5em 0;
}

h3 {
  font-size: 1em;
  line-height: 1.11111111;
  margin: 0.25em 0 0.1em;
}

/* Disable links showing their target */
a[href]:after { content : "" }

.page-break { page-break-after: always; }
.markdown-body { font-size: 11px; }
.markdown-body pre > code { white-space: pre-wrap; }
